<% if(locals.errors) { %>
    <%    errors.forEach((error)=>{ %>
        <div class="alert alert-danger" role="alert">
            <%= error.msg %>
        </div>
        <%    })        %>
            <% } %>

                <% if(error_msg != '') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error_msg %>
                    </div>
                    <% } %>
                        <% if(error != '') { %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                            <% } %>