<%- include("../partials/nav_auth") %>
    <div class="row  justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="mt-5">About-Us</h1>
            <p class="text-justify mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus ipsa autem at harum aspernatur similique labore ut, inventore vitae, reprehenderit architecto fuga, culpa natus quia temporibus officiis adipisci numquam. Facilis, fuga ea porro
                odit magnam quae obcaecati? Nesciunt fugit, consequuntur delectus assumenda ipsam dolore aspernatur tenetur magni laboriosam error facere, omnis adipisci aliquam. Corporis quae labore similique ab officia!
            </p>
        </div>
        <%- include("../partials/footer") %>
    </div>
    </div>