@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap");
*,
:after,
:before {
    font-family: 'Kodchasan', Times, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active,
a:hover,
a:focus,
a:valid {
    color: inherit;
}

.text-justify {
    text-align: justify;
}

.card-title-custom {
    font-size: 1.2rem !important;
    font-weight: bold;
}

video {
    width: 100%;
}

#show-error {
    display: none;
}

#show-spinner {
    display: none;
}